label, input {
    margin: 5px 0px 10px 10px;
}

h1 {
    background-color: aqua;
}

nav {
    position: absolute;
    top: 3%;
    right: 1%;
}

#nav-list li{
    display:inline;
    background-color: gray;
}

#nav-list a{
    color:bisque;
}

input {
    width: 500px;
    font-size: 20px;
}