:root {
    --dev-border-style: solid black;
    --header-text-color: rgb(226, 214, 198);
    --main-background-color: rgb(12, 32, 92);
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--header-text-color);
    display: flex;
    flex-flow: column wrap;
}

main form {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    color: var(--main-background-color);
}

#contact-info {
    display: flex;
    flex-flow: column wrap;
}

#contact-info label {
    display: flex;
    align-items: center;
}

#contact-info input {
    font-size: 1.5rem;
    border: solid transparent;
    border-radius: 10px;
    flex: 1;
}

#phone-number {
    flex: none;
    width: 10.5rem;
}

#reason {
    display: flex;
    flex-flow: column;
    flex: 1;
    margin: 20px 0px;
}

#reason label {
    padding: 0px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#reason h3 {
    word-wrap: break-word;
    margin-bottom: 10px;
}

#reason label p {
    padding: 0px 15px;
}

label[for="comment-box"] {
    display: flex;
    flex-flow: column;
}

#comment-box {
    flex: 1;
    min-height: 200px;
    min-width: 700px;
    border: transparent;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

#buttons input {
    display: inline;
    border: transparent;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    color: var(--header-text-color);
    background-color: var(--main-background-color);
    font-size: 1.2rem;
    margin-bottom: 50px;
}