:root {
    --dev-border-style: solid black;
    --header-text-color: rgb(226, 214, 198);
    --main-background-color: rgb(12, 32, 92);
}

/*= General Styling
* Applies general base styles to the site.
*/

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--header-text-color);
    display: flex;
    flex-flow: column wrap;
}

h1, h3 {
    width: 100%;
}

/* Main Header Styles are included in header.css */

/*= Main Content Styles
*
*/

main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#slide-show {
    margin: 50px 0px;
    border: var(--dev-border-style);
    width: 750px;
    height: 350px;
}