:root {
    --dev-border-style: solid black;
    --header-text-color: rgb(226, 214, 198);
    --main-background-color: rgb(12, 32, 92);
    --footer-height: 9rem;
    --accent-color: #e99274;
}

article h3 {
    color: var(--main-background-color);
}

.project-display {
    border: solid 5px var(--main-background-color);
}

#placeholder {
    text-transform: capitalize;
}

.project-screenshot {
    max-width: 100%;
    height: 25%;
}

.project-screenshot:hover {
    box-sizing: border-box;
    border: solid 2px var(--accent-color);
}