:root {
    --dev-border-style: solid black;
    --header-text-color: rgb(226, 214, 198);
    --main-background-color: rgb(12, 32, 92);
    --footer-height: 9rem;
    --accent-color: #e99274;
}

main {
    height: 100%;
}

main article {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;

    margin-top: 20px;
}

article h3 {
    color: var(--main-background-color);
}

.project-display {
    align-items: center;
    border: solid 2px var(--main-background-color);
    width: 50%;
    max-width: 838px;
}

.image-container {

}

.project-screenshot {
    max-width: 100%;
    height: 25%;
}

.project-screenshot:hover {
    box-sizing: border-box;
    border: solid 2px var(--accent-color);
}

#placeholder {
    text-transform: capitalize;
}