:root {
    --dev-border-style: solid black;
    --header-text-color: rgb(226, 214, 198);
    --main-background-color: rgb(12, 32, 92);
    --footer-height: 9rem;
    --accent-color: #e99274;
    --max-width: 838px;
}

main {
    height: 100%;
}

main article {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;

    margin-top: 20px;
}

article h3 {
    color: var(--main-background-color);
    padding: 5px;
}

.project-display {
    align-items: center;
    width: var(--max-width);
    height: 500px;
}

.project-display:hover {

}

.image-container {
    position: relative;
    height: auto;
    width: auto;

    max-width: var(--max-width);
    overflow: scroll;
}

.tooltip {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);

    width: fit-content;
    max-width: var(--max-width);

    box-sizing: border-box;
    padding: 5px;
    border: solid 5px var(--main-background-color);
    color: var(--main-background-color);
    background-color: var(--header-text-color);

    visibility: hidden;
}

.project-screenshot {
    max-width: var(--max-width);
    height: auto;
}

#horiseon-refactor:hover span {
    visibility: visible;
}

#placeholder-container {
    text-transform: capitalize;
}

#placeholder:hover span {
    visibility: visible;
}